.container {
  background: #adb5bd;
  padding-block: 15px;
  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 220px;
      height: 70px;
      object-fit: cover;
    }
    .nav {
      display: flex;
      align-items: center;
      gap: 20px;
      .link {
        color: #212529;
        font-size: 19px;
        letter-spacing: 1.2px;
      }
    }
  }
}
